body {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	background: #000 url(../images/bg-texture.png) repeat;
}

input {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}

div.container {	
	width: 100%;
	height: 550px;
	margin: 0 auto;
	text-align: center;
}

div.mainDivs {
	height: 500px;
	float: left;
	text-align: center;
	background: rgba(187,187,187,0.7);
	padding: 1%;
	margin: 1%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.repo {
	width: 21%;
}

div.comp {
	width: 55%;
}

div.mainDivs p {
	text-transform: uppercase;
}

div.rep, div.cmp {
	width: 100%;
}

div.components, div.repositories {
	width: 100%;
	height: 430px;
	overflow: hidden;
	text-align: left;
}

div.components {
	/*width: 70%;*/
}

div.components:hover, div.repositories:hover {
	overflow-y: auto;
	overflow-x: hidden;
}

.comp-btn {
	/*float: left;*/
}

div.div-button {
	float: left;
	padding: 2px 0;
	margin: 0px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	text-align: left;
	padding-left: 5px;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

div.div-button img {
	vertical-align: middle;
	margin-right: 20px;
}

div.div-button:hover {
	cursor: pointer;
	border: 1px solid #3399FF;
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

div.clicked {
	border: 1px solid #3399FF;
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #444;
}

*::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#pop-up {
	display: none;
	position: absolute;
	width: 230px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

input[type="text"], input[type="password"] {
	height: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.submit_btn {
	width: 60px;
	height: 29px;
}

.dir_btns {
	width: 3%;
	float: right;
	text-align: center;
	cursor: pointer;
	margin: 0px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

.dir_btns:hover {
	border: 1px solid #3399FF;
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

#chat-box {
	position: fixed;
	bottom: 0px;
	right: 20px;
	width: 200px;
	height: 30px;
	background: white;
}

.chat {
	width: 100%;
	height: 70px;
	background: red;
	display: none;
}

.chat-link, #chat_btn {
	width: 100%;
	height: 30px;
}

#chat_btn:hover {
	cursor: pointer;
}

#logout_btn {
	position: fixed;
	top: 0px;
	right: 30px;
	color: white;
}

#logout_btn:hover {
	cursor: pointer;
	color: #3399FF;
}

.err_msg {
	color: #FF3300;
}

#username, #password {
	height: 30px;
	width: 300px;
	font-size: 20px;
}

#login_form {
	border: 5px inset white;
	width: 400px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#upload_div {
	position: relative;
	top: 25%;
	background: white;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

div.vers_wrap {
	position: relative;
	top: 10%;
	background: white;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	width: 80%;
	height: 450px;
	margin: auto;
}

#upload_div textarea {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	resize: none;
}

.close_btn {
	position: absolute;
	right: -15px;
	bottom: -15px;
}

.v_close_btn {
	position: absolute;
	right: -15px;
	top: -15px;
}

.close_btn:hover, .v_close_btn:hover {
	cursor: pointer;
}

div.wall, div.wall2, div.wall3 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

.upload_btn {
	width: 78px;
}

.progress {
	position: relative;
	width: 350px;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto;
}

.bar {
	background-color: #3399FF;
	width: 0%;
	height: 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.percent {
	position: absolute;
	top: 0px;
	left: 47%;
}

table.vers {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table.vers td {
	border: 1px solid #cccccc;
}

table.vers tr.header {
	background: #3399FF;
	color: white;
	text-align: center;
}

table.vers tr.header td {
	padding: 3px;
}

.centered {
	text-align: center;
}

div.versions {
	height: 100%;
}

.repo_dl {
	float: right;
}

.repo_dl, .repo_ul {
	width: 20px;
	float: right;
	text-align: center;
	cursor: pointer;
	margin: 0px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

.repo_dl:hover, .repo_ul:hover {
	border: 1px solid #3399FF;
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

.diff_a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

.table_vers, .iframe_vers {
	float: left;
	width: 50%;
	overflow-x: hidden;
	overflow-y: auto;
	height: 400px;
}