body {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	background: url(../images/bg.png), url(../images/bg-texture.png);
	background-repeat:  no-repeat, repeat;
	background-position: center 75%, left top;
	background-size: 25%, auto;
	background-attachment: fixed;
}

input {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}

div.container {	
	width: 100%;
	height: 550px;
	margin: 0 auto;
	text-align: center;
}

div.mainDivs {
	height: 500px;
	float: left;
	text-align: center;
	background: rgba(187,187,187,0.7);
	padding: 1%;
	margin: 1%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.repo {
	width: 21%;
}

div.comp {
	width: 46%;
}

div.logs {
	width: 21%;
}

div.mainDivs p.title {
	text-transform: uppercase;
}

div.rep, div.cmp {
	width: 100%;
}

div.fileFolders, div.repositories {
	width: 100%;
	height: 430px;
	overflow: hidden;
	text-align: left;
}

div.fileFolders:hover, div.repositories:hover {
	overflow-y: auto;
	overflow-x: hidden;
}

div.div-button {
	float: left;
	padding: 2px 0;
	margin: 0px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	text-align: left;
	padding-left: 5px;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

div.div-button img {
	vertical-align: middle;
	margin-right: 20px;
}

div.div-button:hover {
	cursor: pointer;
	border: 1px solid #3399FF;
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

div.clicked {
	border: 1px solid #3399FF;
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #444;
}

*::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#pop-up {
	display: none;
	position: absolute;
	width: 230px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

input[type="text"], input[type="password"], select {
	height: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.submit_btn {
	width: 60px;
	height: 29px;
}

.submit_btn:hover {
	cursor: pointer;
}

.dir_btns {
	width: 20px;
	height: 20px;
	padding-top: 3px;
	float: right;
	text-align: center;
	cursor: pointer;
	margin: 0px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

.dir_btns:hover img {
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

#logout_btn {
	position: fixed;
	top: 0px;
	right: 30px;
	color: white;
}

#logout_btn:hover {
	cursor: pointer;
	color: #3399FF;
}

.err_msg {
	color: #FF3300;
}

#username, #password, #conf_password {
	height: 30px;
	width: 300px;
	font-size: 20px;
}

select.type {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	height: 36px;
	width: 304px;
	font-size: 20px;
}

.login_signup {
	border: 5px inset white;
	width: 400px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#upload_div, #revert_div, #del_div {
	position: relative;
	top: 25%;
	background: white;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.locking {
	position: relative;
	top: 45%;
	text-align: center;
	margin: 0 auto;
}

div.vers_wrap {
	position: relative;
	top: 5%;
	background: white;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	width: 95%;
	height: 520px;
	margin: auto;
}

#show_del {
	position: relative;
	top: 5%;
	background: white;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	width: 70%;
	height: 520px;
	margin: auto;
}

textarea {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	resize: none;
}

.close_btn {
	position: absolute;
	right: -15px;
	bottom: -15px;
}

.v_close_btn {
	position: absolute;
	right: -15px;
	top: -15px;
}

.close_btn:hover, .v_close_btn:hover {
	cursor: pointer;
}

div.wall, div.wall2, div.wall3, div.wall4, div.wall5, div.wall6, div.wall-lock {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

.upload_btn {
	width: 78px;
}

.repo_dl {
	float: right;
}

.repo_dl, .repo_ul {
	padding-top: 3px;
	width: 20px;
	height: 20px;
	float: right;
	text-align: center;
	cursor: pointer;
	margin: 0px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

.repo_dl:hover img, .repo_ul:hover img {
	background: -moz-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(184,225,252,0.2)),color-stop(10%,rgba(169,210,243,0.2)),color-stop(25%,rgba(144,186,228,0.2)),color-stop(41%,rgba(144,188,234,0.2)),color-stop(50%,rgba(144,191,240,0.2)),color-stop(51%,rgba(107,168,229,0.2)),color-stop(84%,rgba(162,218,245,0.2)),color-stop(100%,rgba(189,243,253,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(184,225,252,0.2) 0%,rgba(169,210,243,0.2) 10%,rgba(144,186,228,0.2) 25%,rgba(144,188,234,0.2) 41%,rgba(144,191,240,0.2) 50%,rgba(107,168,229,0.2) 51%,rgba(162,218,245,0.2) 84%,rgba(189,243,253,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b8e1fc',endColorstr='#33bdf3fd',GradientType=0); /* IE6-9 */
}

.diff_td {
	text-decoration: underline;
	color: #CC6600;
}

.diff_td:hover {
	cursor: pointer;
	background: #3333FF;
}

td.quickview, td.revert, td.undelete {
	color: blue;
}

td.quickview:hover, td.revert:hover, td.undelete:hover {
	background: #3399FF;
	cursor: pointer;
	color: white;
}

.table_vers, .iframe_vers {
	float: left;
	width: 50%;
	height: 465px;
	overflow: auto;
}

.table_del {
	width: 100%;
	height: 465px;
	overflow: auto;
}

#diff_iframe {
	width: 99%;
	height: 99%;
	display: none;
	border: none;
}

table.vers, table.del {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table.vers td, table.del td {
	border: 1px solid #cccccc;
}

table.vers tr:nth-child(odd), table.del tr:nth-child(odd) {
	background: #F6F4F0;
}

table.vers tr.header, table.del tr.header {
	background: #3399FF;
	color: white;
	text-align: center;
}

table.vers tr.not_header:hover, table.del tr.not_header:hover {
	background: #dde4e2;
	cursor: default;
}

.centered {
	text-align: center;
}

div.versions {
	height: 100%;
}

table.vers td.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100px;
}

table.del td.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
}

input[type=radio]:hover {
	cursor: pointer;
}

#try_diff {
	background: url(../images/popup-bg.png) no-repeat 10px 15px;
	width: 100px;
	height: 48px;
	position: absolute;
	top: 17px;
	left: 7px;
}

#try_diff_msg {
	color: white;
	background: #3D3D3D;
	position: relative;
	bottom: 10px;
	width: 100px;
	height: 46px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	vertical-align: middle;
}

.log {
	overflow: auto;
	background: white;
	height: 80%;
	padding: 10px;
}

.log p.p_logs {
	font-size: 9pt;
	text-align: left;
}

.log .div_logs {
	border: 1px solid transparent;
	padding: 2px;
	word-wrap: break-word;
}

.signup_btn, .login_btn {
	color: white;
	font-size: 9pt;
}

.signup_btn:hover, .login_btn:hover, .clear_log_btn:hover {
	color: #3399FF;
	text-decoration: underline;
	cursor: pointer;
}

.clear_log_btn {
	color: white;
	font-size: 12pt;
}

.show_deleted {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: white;
}

.show_deleted:hover {
	color: #3399FF;
	text-decoration: underline;
	cursor: pointer;
}

.logcreated {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.logcommitted {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #d1ffce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d1ffce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d1ffce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d1ffce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d1ffce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d1ffce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d1ffce',GradientType=0 ); /* IE6-9 */
}

.logdeleted {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #ff8989 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#ff8989)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#ff8989 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#ff8989 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#ff8989 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#ff8989 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ff8989',GradientType=0 ); /* IE6-9 */
}

.logundeleted {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #ffe1aa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#ffe1aa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#ffe1aa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#ffe1aa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#ffe1aa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#ffe1aa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ffe1aa',GradientType=0 ); /* IE6-9 */
}

.logreverted {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #faffc1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#faffc1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#faffc1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#faffc1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#faffc1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#faffc1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#faffc1',GradientType=0 ); /* IE6-9 */
}

.loglocked {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #aa8a93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#aa8a93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#aa8a93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#aa8a93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#aa8a93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#aa8a93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#aa8a93',GradientType=0 ); /* IE6-9 */
}

.logunlocked {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #e1ceff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#e1ceff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#e1ceff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#e1ceff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#e1ceff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#e1ceff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e1ceff',GradientType=0 ); /* IE6-9 */
}

.logfailed {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #d1ffce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d1ffce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d1ffce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d1ffce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d1ffce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d1ffce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d1ffce',GradientType=0 ); /* IE6-9 */
}

span#logfailed {
	color: red;
}

.sort:hover {
	cursor: pointer;
	background: #3333FF;
}