/* Pretty printing styles. Used with prettify.js. */
pre {
  border: black solid 1px;
  padding: 5px 10px;
}
pre *, pre.prettyprint, pre.prettyprint * {
  font-family: monospace;
}
pre del, pre ins, pre em {
  display: block;
}
pre em del, pre em ins {
  display: inline;
}
pre del, pre em del {
  background-color: #ecb89c;
}
pre ins, pre em ins {
  font-weight: bold;
  text-decoration: none;
  background-color: #bbdce8;
}
pre em {
  background-color: #e8ec9c;
}

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { padding: 0.5em; border: 1px solid #DDD; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
